<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/assignment_1/static/assets/imgs/zomato.png" />
    <link rel="stylesheet" href="/assignment_1/static/css/style.css" />
    <link
      href="https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Yummy</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a class="logo" href="#">Yummy <span>.</span></a>
      </div>

      <nav class="navbar">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Gallery</a></li>
          <li>
            <label for="dropdown">Dropdown</label
            ><select name="dropdown" id="dropdown"></select>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <div class="action-items">
        <button class="book-table-btn">Book a Table</button>
      </div>
    </header>

    <main>
      <section class="hero-section">
        <div class="section-info">
          <div class="top">
            <h1>
              Enjoy Your Healthy <br />
              Delicious Food
            </h1>
            <p>
              We are a team of talented designers making websites with <br />
              Bootstrap
            </p>
          </div>

          <div class="bottom">
            <button class="book-table-btn">Book a Table</button>

            <button class="watch-video-btn">
              <i class="bxr bx-play-circle"></i> Watch Video
            </button>
          </div>
        </div>

        <div class="section-image">
          <img
            class="zomato-image"
            src="/assignment_1/static/assets/imgs/zomato.png"
            alt="Zomato Image"
          />
        </div>
      </section>

      <section class="about-section">
        <h2>About Us</h2>
        <p>Learn More <span>About Us </span></p>
      </section>
    </main>
    
    <script src="/assignment_1/static/js/script.js"></script>
  </body>
</html>
