@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li,
ul {
  text-decoration: none;
  color: gray;
  list-style: none;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: lightgrey;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: white;
  color: gray;
  width: 100%;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
}

header .logo a {
  color: black;
}

header .logo a span {
  color: red;
}

.navbar {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar ul li {
  font-weight: 600;
}

.navbar ul li.active a {
  border-bottom: 2px solid red;
}

.navbar ul li select {
  background-color: transparent;
  border: none;
}

header .action-items .book-table-btn {
  min-width: 25%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: red;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.navbar .action-items .book-table-btn:hover {
  opacity: 0.8;
}

main {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main section {
  width: 100%;
  padding: 4rem;
}

/*Hero Section*/
main .hero-section,
main .about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .hero-section > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

main .hero-section .section-image {
  align-items: end;
}

main .hero-section .section-info {
  gap: 1rem;
}

main .hero-section .section-info .top h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Amatic SC", sans-serif;
}

main .hero-section .section-info .bottom {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 1rem;
}

main .hero-section .section-info .bottom .book-table-btn {
  min-width: 15%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: red;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

main .hero-section .section-info .bottom .book-table-btn:hover {
  opacity: 0.8;
}

main .hero-section .section-info .bottom .watch-video-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border: none;
  font-weight: 600;
}

main .hero-section .section-info .bottom .watch-video-btn i {
  font-size: 1.5rem;
  color: red;
}

main .hero-section .section-info .bottom .watch-video-btn:hover {
  opacity: 0.8;
}

main .hero-section .section-image img {
  width: 60%;
  height: auto;
}

/*About Section*/
main .about-section {
  min-height: 10vh;
  flex-direction: column;
  background-color: white;
  text-align: center;
  row-gap: 1rem;
}

main .about-section h2 {
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
}

main .about-section p {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
}

main .about-section span {
  color: red;
  font-family: "Amatic SC", sans-serif;
}
